

<div class="content">
    <div class="search">
        <mat-form-field>
        <mat-label>filtro...</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. BRL" #input>
        </mat-form-field>
    </div>

<div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource"  matSort class="table">
  
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Símbolo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> taxaConversao</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.taxaConversao}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
  </div>