<mat-form-field>
    <mat-label>Moeda de Origem</mat-label>
    <mat-select [(ngModel)]="Moedaorigem">
      <mat-option *ngFor="let moeda of moedas" [value]="moeda.simbolo">{{ moeda.nome }} ({{ moeda.simbolo }})</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Moeda de Destino</mat-label>
    <mat-select [(ngModel)]="NewMoeda">
      <mat-option *ngFor="let moeda of moedas" [value]="moeda.simbolo">{{ moeda.nome }} ({{ moeda.simbolo }})</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Valor a ser convertido</mat-label>
    <input matInput [(ngModel)]="valor" type="number">
  </mat-form-field>
  
  <button mat-button (click)="converterMoeda()">Converter</button>
  
  <div *ngIf="novoValor && taxaConversao">
    <p>{{ valor }} em {{ Moedaorigem }} é igual a {{ novoValor }} em {{ NewMoeda }}</p>
    <p>Taxa de conversão da moeda: {{ taxaConversao }}</p>
  </div>
  